@charset "utf-8";
/* CSS Document */

#bookChapter select { margin:0px 8px 0px 0px!important;height:24px!important;font:bold 9pt arial!important;color:#333333; padding :1px!important; width:115px!important;}
#bookChapter select#book.wide { width:280px!important; }
#bookChapter select options { color:#000000; padding :2px!important;}
#bookChapter select#book { width:185px!important; height:26px;} 
#bookChapter form { margin:1px!important; float:left; width:240px!important; padding:0px;}
#bookChapter select.outline { outline:2px solid #008061; border:2px solid #008061; }
#bookChapter {line-height:4px; padding : 3px; position:relative;top:-35px;left:400px; width:425px!important;}
#bookChapter label { position:absolute;top:-20px; padding-left:8px; font-size:9pt;color:#006141; display:none; font-size:8pt;}

p, #contentarea p, #scribeI p {
	margin:0px 20px 0px 50px; padding:0px 50px 0px 0px; line-height:1.35em; font: 1.35em Georgia, "Times New Roman", Times, serif;
}
.bk { 
	text-align:left;
	margin:5px 0px 20px 10px;
	color: #333333!important;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 18px;
    letter-spacing: -0.5px;
    line-height: 1.4em;
    margin: 15px;
    padding: 5px 2px 5px 10px!important;
    text-transform: uppercase;
		
}
p.ch, h3, h3.ch, #scribeI .ch {
font:bold 11pt arial!important; 
color:black; padding:5px;
margin:0px!important; color:#008061;
display:none;
}
h3.cs { border:none!important; margin:0px; color:black; }
p.right i { font-style:italic!important; }
.bksect { display:none; margin-top:30px; font : bold 120% arial; }

span.bcv,bcv {
left:-40px!important;
display:block;
width:25px;
text-align:center;
font:bold 9pt arial!important; 
top:19px;
padding:0px; margin:0px;
}
#contentarea .b, #contentarea b {
font-weight:400; font-style:italic; font-size:1.3em; 
padding-left:0px;
margin:25px 0 10px 0!important; display:inline-block!important;
}
.pf b { 
	margin : 0px; display:inline;
}
#contentarea p.po, 
#contentarea p.pof, 
#contentarea p.po3 
 { margin-top : 0px; margin-bottom:0px;}
p.pf { margin-top:15px; margin-left:25px; padding-right:25px; }
#contentarea small, small { font-size:78%!important; font-family:georgia,times; }
.en,.fn {
color:#333333;
margin:12px 30px!important; 
}
#contentarea #scribeI p.en a, 
#contentarea #scribeI p.fn a, 
#contentarea #scribeI a.pointer { color:#008061; font-size:0.9em; font-weight:700; margin-top:15px;}
#contentarea #scribeI a.pointer { font:bold 9pt arial!important;color:#008061!important;}
#contentarea #scribeI p.en, 
#contentarea #scribeI p.fn { font-size:11pt; font-family:georgia;}

#contentarea #scribeI p { margin-top:15px; margin-left:25px; padding-right:25px;}
#contentarea #scribeI { margin-left:25px!important; width:500px; min-height:400px;}

#contentarea p.fn:first { margin-top:25px!important;}
table {
	margin: 10px 45px; 
}
td { padding : 0px 5px; }
ol {
	margin: 10px 40px; padding : 10px 40px;
	line-height:2;background-color:rgb(240,240,240); 
}
ol ol { border:0; margin :5px; padding : 5px 20px;}
.link {font:8pt arial; text-decoration:underline; position:relative; top:-50px; padding-left:80%; text-align:center; cursor:pointer;}
#scriptureDiv { 
	height:34px; position:absolute; top:198px; padding-top:10px; 
	text-align:right;width:660px;padding-right:0px;
}
span.ver { font-size:100%!important; font-weight:bold!important;}
#NABcopyright-print { display:none; }
#scribeI a { font-weight:normal!important; color:#333; font-family: georgia, "Times New Roman", Times, serif; font-size:1.3em; text-decoration:none;}
#bookChapter select { outline:2px solid #cccccc; padding :1px; margin: 0px 2px; border : 2px solid #666666;}
#book_label, #chapter_label, #chapter, #book { position:relative;top:-6px; }
#contentarea h2.bksect { display:none; }
#book { margin-left:18px; }

#book.sectionLabel { 
color:#444444;background-color:#f5f5f5;border-top:1px dotted #c0c0c0; padding-left:9px;font:bold 8pt arial;text-transform:uppercase; padding:2px;
}
#chapter { margin-left:18px; }
#contentarea #scribeI h4.chsect { margin-left:26px!important; border-bottom:0px!important; width:550px;font-size:11px!important;color:black;margin-top:40px!important; margin-bottom:0px!important;  }
#contentarea h5.chsubsect { border-bottom:none!important; margin-left:18px!important; font-size:100%;}
div#lookupFrame h5 { font : bold 11pt arial!important; margin : 10px!important; padding-left: 20px!important; 
background-image:url(../images/icons/loading.gif)!important; background-repeat:no-repeat;}
/* main scripture viewer block */
#scribeI { margin-left:0px; padding : 0px 30px 0px 0px!important; border:0px!important;width:660px!important; 
line-height:22px!important;
 }
 .testament-arrow {
    border-color: #111111 transparent;
    border-style: solid;
    border-width: 4px 4px 0;
    height: 0;
    position: absolute;
    right: 5px;
    top: 11px;
    width: 0;
}	
.testament-button {
	display:inline-block;
    background-color: #f3f3f3;
    /*background-image: -moz-linear-gradient(center top , #F5F5F5, #F1F1F1);*/
    border: 1px dotted #e3e3e3;
	border-top:1px solid #999;
	border-left:1px solid #999;
	border-right:1px solid #999;
	border-bottom:0px!important;
    border-radius: 3px 3px 0 0;
    color: #666666;
    font-size: 11px!important;
    font-weight: 700;
    line-height: 24px;
    list-style: none outside none;
    min-width: 55px;
    outline: medium none;
    padding: 0 22px 0 8px;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
	display: inline-block;
    position: relative; margin-right:2px; cursor:pointer;
} 
#bookOutlineOld {
	display:none;
	position:absolute;
	top:224px;
	margin-left:0px;
	background-color:lemonchiffon;
	padding : 12px 0px; 
	width:740px;font:9pt arial;
	border:1px solid #cc9; 
	box-shadow:0 1px 2px #333;
}
#bookOutlineNew {
 display:none;
 position:absolute;
 top:224px;
 margin-left:0px;
 background-color:lemonchiffon;
 padding : 12px 0px; width:740px;
 font:9pt arial;border:1px solid #cc9; 
 box-shadow:0 1px 2px #333;
}
.testament-book-display {
	background-color:#558855; padding:8px; height:200px; position:relative;top:40px;left:-30px; width:200px; 	
}
.testament-button:hover { border-top:1px solid #333; border-left:1px solid #333;border-right:1px solid #333; border-bottom:0px;color:#000000;background-color:lemonchiffon; background:-moz-linear-gradient(bottom,lemonchiffon,lemonchiffon,lemonchiffon,white);}
.testButtonActive { z-index:1; background-color:lemonchiffon; font-weight:bold; color:black; border-top:1px solid #333; border-left:1px solid #333;border-right:1px solid #333; border-bottom : 0px; }

a.enref, a.enref sup { position:relative;font-size: 14px !important;text-decoration:none!important; color:#008061; display:inline-block;}
a.enref sup { font-size: 14px !important;}
a.enref sup:hover { color:#008061;}
a.fnref, a.fnref sup { text-decoration:none!important; color:#008061; display:inline-block;}
a.fnref sup { font-size: 14px !important; }
#contentarea #scribeI p, #contentarea #scribeI p.pf, #contentarea #scribeI * { font-size:16px; line-height:22px;}
#contentarea #scribeI a.enref, #contentarea #scribeI f.enref  { text-decoration:none!important;}
#contentarea sup { line-height:0!important;
    font-size: 14px !important;
	display:inline-block;margin-left:1px;margin-right:2px;
	font-weight:bold;
	color:#008061;}
}
#contentarea h1 { font-size:26pt!important; font-family:georgia; color:black;}
#contentarea h1 span { font: 18pt georgia, times!important; color:#333;}
.bookChange {   color:#444444;background-color:#f5f5f5;border-top:1px dotted #c0c0c0; padding-left:9px;font:bold 8pt arial;text-transform:uppercase; padding:2px;}
#contentarea #scribeI p.fn a, #contentarea #scribeI p.en a { font:bold 10pt arial; text-decoration:none; border-bottom:1px dotted #008061;color:#008061;} 
#contentarea #scribeI p.fn a:hover, #contentarea #scribeI p.en a:hover { border-bottom:1px solid #008061; text-decoration:none!important;}
#loading { padding : 25px; font : bold 30pt arial; color:#e0e0e0; background-color:white;clear:both; text-shadow:0 1px 1px #777; border-radius:4px;position : absolute; top:190px; left:300px; width:500px; border:5px solid #333; }
.bkBibleLink { font:bold 9pt arial!important; }
#scriptureDiv a.chLink { font: bold 8pt arial!important; color:#008061!important;text-decoration:underline; cursor:pointer; z-index:999;}
#scriptureDiv a.chLink:hover { color:#008061!important; }
div a.chLink2 { font: bold 11pt arial!important; color:#008061!important;text-decoration:underline; cursor:pointer;}
div.lineTop { border-top:1px dotted gray;}
a.bkBibleLink:hover { text-decoration:underline!important; color:navy!important; }
.speaker { font:bold 9pt arial!important; background-color:#eee;padding:3px;border-radius:3px;margin-right:10px; }
/*
$('*').css('font','9pt arial');
$('p').css('margin-left','50px');
$('.bk').css('font','bold 130% arial').css('text-align','center').css('margin','5px 0px 20px 0px'); 
$('.ch').css('font','bold 11pt arial').css('margin-top','25px');	
$('a[name]').before('<p>');
$('.bcv').css('margin-left','-50px').css('display','inline-block').css('width','30px').css('text-align','right').css('padding','1px').css('margin-right','15px').css('font','bold 80% arial');
$('.b,b').css('font-weight','bold').css('padding-left','5px');
$('.en,.fn').css('color','#666666').css('line-height','1.2').css('margin','4px 50px');

*/
#chapters { position:absolute;top:200px; left:600px; }

/* styles added by Joe Larson 5-17-2012 fix alpha chapters in esther  */
.alphchapter	{margin: 20px 20px 20px 40px; padding: 20px; border-top:3px solid #008061; border-bottom:3px solid #008061;}
.chapterhead	{color:#008061; font-weight:bold; font-size:14pt; font-family:Georgia, 'Times New Roman', Times, serif;}

