#bookChapter select { font:bold 12pt arial!important;color:#008061; padding :2px!important; width:140px!important;}
#bookChapter select options { font:bold 11pt arial!important;color:#008061; padding :2px!important; width:160px!important;}
#bookChapter form { margin:1px!important; float:left; width:280px!important; padding:0px;}

#bookChapter { background-color:rgb(245,245,245);width:290px; float:right; padding : 5px; position:relative; top:-70px; left:360px; border:1px solid #999; }

#scriptureWrapper * { color:#666;  font:12pt georgia; line-height:1.3!important; }
#scriptureWrapper p {
	margin:0px 20px 0px 80px; padding:0px; line-height:1.25;
}
#scriptureWrapper .bk {
font:bold 140% arial;
text-align:center;
margin:5px 0px 20px 0px;
}
#scriptureWrapper p.ch, 
#scriptureWrapper h3, 
#scriptureWrapper h3.ch {
font-size:140%; border-top : 4px solid silver; padding:2px 5px;
font-weight:bold;  font:bold 9pt arial; 
margin:0px 0px 20px 15px; background-color:#f3f3f3;
}
#scriptureWrapper .bksect { margin-top:30px; font : bold 120% arial; }
#scriptureWrapper a { clear:both; }
span.bcv,
bcv {
left:-90px!important;
display:block;
width:60px;
text-align:right;
font:bold 16pt arial!important; 
top:24px;
position:relative; padding:0px; margin:0px;
}
#scriptureWrapper .b,
#scriptureWrapper b {
font-weight:700; font-style:normal; font:bold 11pt arial; 
padding-left:0px; line-height:1.4;
margin:10px 0 0px 0; display:block;
}
#scriptureWrapper .pf b { 
	margin : 0px; display:inline;
}
#scriptureWrapper p.pf { margin-top:15px; }
#scriptureWrapper small { font-size:80%; }
#scriptureWrapper .en,
#scriptureWrapper .fn {
color:#666666;
line-height:1.3;
margin:12px 80px; font-size:80%;
}
#scriptureWrapper .en a, 
#scriptureWrapper .fn a {
	font-size:80%!important;
}
#scriptureWrapper table {
	margin: 10px 45px; 
}
#scriptureWrapper td { padding : 0px 8px; }
#scriptureWrapper ol {
	margin: 10px 40px; padding : 10px 40px;
	line-height:2;background-color:rgba(240,240,240,0.8); 
}
#scriptureWrapper ol ol { border:0; margin :5px; padding : 5px 20px;}
#scriptureWrapper .link {font:8pt arial; text-decoration:underline; position:relative; top:-50px; padding-left:80%; text-align:center; cursor:pointer;}
#scriptureWrapper sup { line-height:75%; margin:0px; padding:0px; font-size-adjust:0.4;}

#NABcopyright { padding : 20px 0px; font-size:82%!important; color:#666666; }

h1.bks { display:none!important; }


/******* for the bible book catalog page ***********/

span.bks a.chapter, #books a { display:inline; 
	margin-bottom:-1px; margin-right:-1px; margin-left:0px;
	padding : 4px 0px; display:inline-block; 
	width: 18px!important; 
	border-radius:3px; -moz-border-radius:3px; border:1px solid white;
	text-align:center; opacity:0.9;
	font: 400 11px arial!important; }
#books a.wide { width:25px!important; }	
#books a.wide:hover { width:25px!important; }
#books a:hover { 
	background: -moz-linear-gradient(center top , #E1F1E1, #C1E1C1) repeat scroll 0 0 transparent;
	font-size:11px!important;font-weight:bold!important;	 
	color:#000000; width: 18px!important;padding:2px 0px;text-decoration:none;
	border:1px solid #333333; opacity:1;}
#books .bks { 
	background-color:#f7f7f7; padding : 1px; 
	border:1px solid #fcfcfc;}
#books span.bookname { 
	padding: 15px 5px 0px 5px; 
	text-transform:uppercase; color:black; 
	font:bold 8pt arial; letter-spacing:0.3pt; }
#books span.intro { 
	border:0px!important;
	display:inline-block; padding: 15px 5px 0px 10px;}
#books span.intro a { 
	display:inline-block;
	color:#666666; border:0px!important;
	text-transform:lowercase;} 
#books span.intro a:hover { 
		color:black;}

/*********** daily readings *****************/


.bibleReadingsWrapper pre, .bibleReadingsWrapper div, .bibleReadingsWrapper p {
	font-size:13px!important;
	line-height:1.6!important;
	display:block;
	background-color:#fff!important;
	width:450px!important;
	font-family:Georgia, "Times New Roman", Times, serif!important;
	white-space:pre-wrap;
	color :#333!important;
}
.bibleReadingsWrapper span {
	 font-family:Georgia, "Times New Roman", Times, serif!important;
	 font-size:13px!important;
}
.bibleReadingsWrapper pre { margin-top:5px!important;}
.bibleReadingsWrapper h4 {
	display:block;
	background-color:#fff!important;
	width:100%; font-size:13px;
	padding-top:30px!important;
	padding-bottom:4px!important;
	margin-bottom:18px!important;
	background: url("../images/layout/bg_contentarea_h1_line.gif") bottom left no-repeat;	
}
.bibleReadingsWrapper h4 .book{
	font-weight:normal;
	cursor:pointer;
	float:right;
	clear:none;
	display:inline;
	font-family:Arial, Helvetica, sans-serif!important
}
.bibleReadingsWrapper .bcv, 
.bibleReadingsWrapper pre .bcv { display: none; }
.bibleReadingsWrapper pre h4.chsect { display:none!important; }
.bibleReadingsWrapper .bksect { display:none!important;}

/******** previous and next day links at page top *************/

div#navDates {
	float:right; margin : 0px; position:relative; top:9px; border:0px;font:bold 8pt arial!important; font-weight:700!important;  color:#999!important;
}
div#navDates a {  
	font:9pt arial!important; font-weight:700!important; text-transform:none;  color:#666!important;
}

/*******************  elements supporting the lightbox scripture viewer ******************/

#beforeLookupFrame {
	z-index:9999990; display:none;
	border-radius:12px;-moz-border-radius:12px;border:4px solid black; 
	-moz-box-shadow:1px 1px 15px black; -webkit-box-shadow:1px 1px 15px black; box-shadow:1px 1px 15px black; 
	padding:4px 15px; position:absolute; width:682px!important;top:255px;height:230px;max-height:230px; background-color:rgb(250,250,250); }
#lookupFrame { 
	z-index:9999999; background-color:lemonchiffon; 
	width:672px!important; padding: 0px!important; 
	overflow-y:scroll!important; overflow:scroll!important; top:12px; 
	margin-top:8px;margin-left:2px; height:190px!important; max-height:190px!important; 
	border:2px solid black!important;  display:none; }
span#scriptureReferenceTitle { 
	font-weight:700;font: bold 14pt "Times New Roman", Times, serif; letter-spacing:-0.4pt;color:#111111!important;padding-left:0px;}
    
    pre strong { font-weight:700!important; color : black!important;}

.bibleReadingsWrapper pre, .bibleReadingsWrapper div, .bibleReadingsWrapper p {
	font-size:13px!important;
	line-height:1.5!important;
	display:block;
	background-color:#fff!important;
	width:450px!important;
	font-family:Georgia, "Times New Roman", Times, serif!important;
	white-space:pre-wrap;
	color :#333!important;
}
.bibleReadingsWrapper span {
	 font-family:Georgia, "Times New Roman", Times, serif!important;
	 font-size:13px!important;
}
.bibleReadingsWrapper pre { margin-top:5px!important; font-family:Georgia, "Times New Roman", Times, serif!important;}
.bibleReadingsWrapper pre strong { font-weight:700!important; color : #333333!important;}
.bibleReadingsWrapper h4 {
	display:block;
	background-color:#fff!important;
	width:100%; font-size:12px!important;;
	padding-top:5px!important;
	padding-bottom:2px!important;
	margin-bottom:10px!important;    text-transform:capitalize!important;     letter-spacing:normal!important;
     color:#666666!important; 
}

.bibleReadingsWrapper h4 .book{
	font-weight:normal!important;
	cursor:pointer;
	float:right;
	clear:none;
	display:inline;
	font-family:Arial, Helvetica, sans-serif!important;
    letter-spacing:normal!important;
    text-transform:capitalize!important;
}	
