@charset "utf-8";
/* CSS Document */

/* This section adapted from usccb.css */

h1 {
  font-size: 25px;
  color:green; white-space: nowrap;
}
h2 {
  font-size: 25px;
  color:green; white-space: nowrap;
}
h3 {
  font-size: 25px;
  color:green; white-space: nowrap;
}

/* p.ch, h3, h3.ch, #scribeI .ch { display:none;}

a.enref, a.enref sup { display:none;}
a.enref sup { display:none;}
a.enref sup:hover { display:none;}

span.bcv,bcv { display:none; }

.bksect { display:none; }

.poetry {color:green; white-space: nowrap;}

/* This section adapted from iPriest stylesheet.css */
/*
.all {
    color: blue;
    display: block;
    font-family: Bookerly;
    font-size: 1em;
    font-weight: normal;
    margin-bottom: 6pt;
    margin-left: 24pt;
    margin-top: 6pt
    }
.ant {
    color: green;
    display: block;
    font-family: Bookerly;
    font-size: 0.75em;
    font-style: italic;
    font-weight: normal;
    margin-bottom: 6pt;
    margin-left: 6pt;
    margin-top: 6pt
    }
.anth {
    color: orange;
    display: block;
    font-family: Bookerly;
    font-size: 1em;
    font-weight: normal;
    margin-bottom: 6pt;
    margin-left: 6pt;
    margin-top: 6pt;
    text-align: center
    }
.calibre {
    display: block;
    font-family: "Bookerly", serif;
    font-size: 1em;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
    }
.calibre1 {
    color: #366;
    display: block;
    font-family: Bookerly;
    font-size: 1.66667em;
    font-weight: normal;
    line-height: 1.2;
    text-align: center;
    margin: 6pt 0 12pt
    }
.calibre2 {
    color: #C30;
    display: block;
    font-family: Bookerly;
    font-size: 1.125em;
    font-weight: normal;
    line-height: 1.2;
    page-break-after: avoid;
    margin: 6pt 0
    }
.calibre3 {
    line-height: 1.2
    }
.calibre4 {
    display: block;
    line-height: 1.2
    }
.calibre5 {
    color: #933;
    display: block;
    font-family: Bookerly;
    font-size: 1em;
    font-weight: bold;
    margin: 6pt 0
    }
.calibre6 {
    color: black;
    display: block;
    font-family: Bookerly;
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 6pt;
    margin-left: 6pt;
    margin-top: 6pt
    }
.calibre7 {
    font-weight: normal
    }
.calibre8 {
    font-style: italic
    }
.calibre9 {
    color: black;
    display: block;
    font-family: Bookerly;
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 6pt;
    margin-left: 6pt;
    margin-top: 6pt;
    text-align: center
    }
.calibre10 {
    color: #36F;
    display: block;
    font-family: Bookerly;
    font-size: 1.41667em;
    font-weight: normal;
    line-height: 1.2;
    text-align: center;
    margin: 6pt 0 0.83em
    }
.calibre11 {
    display: block
    }
.calibre12 {
    height: 34px;
    width: 39px
    }
.calibre13 {
    color: black;
    display: block;
    font-family: Bookerly;
    font-size: 1em;
    font-weight: bold;
    margin: 6pt 6pt 6pt 7.1pt
    }
.calibre14 {
    font-size: 1.33333em
    }
.calibre15 {
    height: 37px;
    width: 39px
    }
.calibre16 {
    height: 34px;
    width: 69px
    }
.calibre17 {
    color: gray;
    display: block;
    height: 2px;
    text-align: center;
    border: currentColor inset 1px;
    margin: 0.5em auto
    }
.calibre18 {
    color: black;
    text-decoration: none
    }
.calibre19 {
    font-weight: bold
    }
.calibre20 {
    font-size: 0.88889em
    }
.calibre21 {
    font-size: 0.79412em;
    line-height: 1.2
    }
.calibre22 {
    font-size: 1em
    }
.calibre23 {
    font-size: 0.70588em
    }
.calibre24 {
    font-size: 0.75em
    }
.calibre25 {
    color: black;
    font-family: Alegreya;
    font-size: 1em
    }
.calibre26 {
    display: block
    }
.calibre27 {
    color: #C30;
    font-size: 1.125em;
    font-weight: normal;
    line-height: 1.2
    }
.calibre28 {
    color: black;
    display: block;
    font-family: Bookerly;
    font-size: 0.88889em;
    font-weight: bold;
    margin: 6pt
    }
.calibre29 {
    color: #366;
    font-family: Alegreya;
    font-size: 1.66667em;
    line-height: 1.2
    }
.calibre30 {
    display: block;
    line-height: 1.2
    }
.calibre31 {
    color: #C30;
    display: block;
    font-family: Bookerly;
    font-size: 1.125em;
    font-weight: normal;
    line-height: 1.2;
    text-align: center;
    margin: 14.2pt 6pt
    }
.calibre32 {
    font-style: italic;
    line-height: 1.2
    }
.com {
    color: #146B27;
    display: block;
    font-family: Bookerly;
    font-size: 1.125em;
    font-style: italic;
    font-weight: normal;
    line-height: 1.2;
    margin: 14.2pt 6pt 6pt 24pt
    }
.girm {
    color: black;
    display: block;
    font-family: Bookerly;
    font-size: 0.75em;
    font-weight: normal;
    margin: 6pt 1.4pt 6pt 0
    }
.msonormal {
    color: black;
    display: block;
    font-family: Bookerly;
    font-size: 1em;
    font-weight: bold;
    margin: 0 0 0.0001pt
    }
.opt {
    color: #C45911;
    font-style: italic
    }
.quietly {
    color: #9A5017;
    display: block;
    font-family: Bookerly;
    font-size: 0.75em;
    font-weight: bold;
    margin-bottom: 6pt;
    margin-left: 24pt;
    margin-top: 6pt
    }
.red {
    color: red;
    display: block;
    font-family: Bookerly;
    font-size: 1em;
    font-style: italic;
    font-weight: normal;
    margin-bottom: 6pt;
    margin-left: 6pt;
    margin-top: 6pt
    }
.red1 {
    color: red
    }
.red2 {
    color: red;
    line-height: 1.2
    }
.response {
    color: #146B27;
    display: block;
    font-family: Bookerly;
    font-size: 1em;
    font-style: italic;
    font-weight: normal;
    margin-bottom: 6pt;
    margin-left: 24pt;
    margin-top: 6pt
    }
.rubric {
    color: red;
    display: block;
    font-family: Bookerly;
    font-size: 0.58333em;
    font-style: italic;
    font-weight: normal;
    margin-bottom: 6pt;
    margin-left: 24pt;
    margin-top: 6pt
    }
.rubric1 {
    color: red;
    display: block;
    font-family: Bookerly;
    font-size: 0.58333em;
    font-style: italic;
    font-weight: normal;
    text-align: center;
    margin: 6pt 6pt 6pt 24pt
    }
.wordsection {
    display: block
    }


*/
