@charset "utf-8";
/* CSS Document */
p.ch, h3, h3.ch, #scribeI .ch { display:none;}

a.enref, a.enref sup { display:none;}
a.enref sup { display:none;}
a.enref sup:hover { display:none;}

span.bcv,bcv { display:none; }

.bksect { display:none; }

.poetry {color:green; white-space: nowrap;}
