@charset "utf-8";
/* CSS Document edited 03-26-2022 */

h1 {
  display: none;
}

h2 {
  display: none;
}

h3 {
  display: none;
}

h4 {
  display: none;
}

.rubric {
    display: none;
    }

.quietly {
display: none;
}

.quietResponse {
display: none;
}

.EPMenu {
 display: none;
}

.sectNav {
 display: none;
}

.rubric {
    display: none; }

.sline {
    display: inline; 
    } 

/*.LatinOption {
    display: none; }

 .englishOption {
     display: none; } */

/* .LatinReply {
    display: none; }
 .englishReply {
     display: none; } */

