@charset "UTF-8";
/* CSS Document */

.All {
    color: #00F;
    display: block;
    font-family: "Calibri", "sans-serif";
    font-size: 1.33333em;
    font-weight: bold;
    text-indent: 0;
    border: currentColor none 2pt;
    margin: 6pt 6pt 6pt 1cm
    }
.Ant {
    color: black;
    display: block;
    font-family: "Calibri", "sans-serif";
    font-size: 1.33333em;
    font-style: italic;
    font-weight: normal;
    text-indent: 0;
    border: currentColor none 2pt;
    margin: 6pt
    }
.Ant1 {
    color: black;
    display: block;
    font-family: "Calibri", "sans-serif";
    font-size: 1em;
    font-style: italic;
    font-weight: normal;
    text-indent: 0;
    border: currentColor none 2pt;
    margin: 6pt
    }
.AntH {
    color: #33F;
    display: block;
    font-family: "Calibri", "sans-serif";
    font-size: 1.33333em;
    font-weight: normal;
    text-align: center;
    text-indent: 0;
    border: currentColor none 2pt;
    margin: 6pt
    }
.AntH1 {
    color: #33F;
    display: block;
    font-family: "Calibri", "sans-serif";
    font-size: 1em;
    font-weight: normal;
    text-align: center;
    text-indent: 0;
    border: currentColor none 2pt;
    margin: 6pt
    }
.blk {
    color: black;
    font-style: normal;
    line-height: 1.2
    }
.blk1 {
    color: black;
    font-style: normal
    }
.calibre {
    display: block;
    font-size: 0.75em;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
    }
.calibre1 {
    color: #366;
    display: block;
    font-family: "Calibri", "sans-serif";
    font-size: 2.22222em;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    margin: 0 0 0.5cm
    }
.calibre2 {
    color: #000;
    display: block;
    font-family: "Calibri", "sans-serif";
    font-size: 1.33333em;
    font-weight: bold;
    text-indent: 0;
    border: currentColor none 2pt;
    margin: 6pt
    }
.calibre3 {
    color: #C30;
    display: block;
    font-family: "Calibri", "sans-serif";
    font-size: 1.33333em;
    font-weight: bold;
    margin: 1em 0
    }
.calibre4 {
    line-height: 1.2
    }
.calibre5 {
    display: block;
    line-height: 1.2
    }
.calibre6 {
    color: #933;
    display: block;
    font-family: "Calibri", "sans-serif";
    font-size: 1.33333em;
    font-weight: normal;
    margin: 1.33em 0 1.33em 1cm
    }
.calibre7 {
    font-style: italic;
    line-height: 1.2
    }
.calibre8 {
    display: block
    }
.calibre9 {
    color: #36F;
    display: block;
    font-family: "Calibri", "sans-serif";
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    margin: 0 0 0.5cm
    }
.calibre10 {
    color: #36F;
    display: block;
    font-family: "Calibri", "sans-serif";
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    margin: 0 0 0.5cm
    }
.calibre11 {
    height: 668px;
    line-height: 1.2;
    width: 450px
    }
.calibre12 {
    height: 58px;
    line-height: 1.2;
    width: 450px
    }
.calibre13 {
    display: block
    }
.calibre14 {
    height: 662px;
    line-height: 1.2;
    width: 450px
    }
.calibre15 {
    height: 123px;
    line-height: 1.2;
    width: 450px
    }
.calibre16 {
    height: 27px;
    line-height: 1.2;
    width: 55px
    }
.calibre17 {
    height: 169px;
    line-height: 1.2;
    width: 450px
    }
.calibre18 {
    height: 658px;
    line-height: 1.2;
    width: 450px
    }
.calibre19 {
    height: 114px;
    line-height: 1.2;
    width: 450px
    }
.calibre20 {
    height: 661px;
    line-height: 1.2;
    width: 450px
    }
.calibre21 {
    height: 54px;
    line-height: 1.2;
    width: 450px
    }
.calibre22 {
    height: 660px;
    line-height: 1.2;
    width: 450px
    }
.calibre23 {
    height: 675px;
    line-height: 1.2;
    width: 450px
    }
.calibre24 {
    height: 65px;
    line-height: 1.2;
    width: 450px
    }
.calibre25 {
    height: 59px;
    line-height: 1.2;
    width: 450px
    }
.calibre26 {
    height: 448px;
    line-height: 1.2;
    width: 450px
    }
.calibre27 {
    height: 265px;
    line-height: 1.2;
    width: 450px
    }
.calibre28 {
    height: 656px;
    line-height: 1.2;
    width: 450px
    }
.calibre29 {
    height: 628px;
    width: 450px
    }
.calibre30 {
    height: 178px;
    width: 450px
    }
.calibre31 {
    height: 27px;
    width: 31px
    }
.calibre32 {
    height: 191px;
    line-height: 1.2;
    width: 450px
    }
.calibre33 {
    height: 126px;
    line-height: 1.2;
    width: 450px
    }
.calibre34 {
    height: 27px;
    line-height: 1.2;
    width: 31px
    }
.calibre35 {
    height: 180px;
    line-height: 1.2;
    width: 450px
    }
.calibre36 {
    font-style: italic
    }
.calibre37 {
    height: 79px;
    width: 300px
    }
.calibre38 {
    height: 339px;
    line-height: 1.2;
    width: 450px
    }
.calibre39 {
    height: 296px;
    line-height: 1.2;
    width: 450px
    }
.calibre40 {
    height: 560px;
    line-height: 1.2;
    width: 450px
    }
.calibre41 {
    height: 396px;
    line-height: 1.2;
    width: 450px
    }
.calibre42 {
    height: 627px;
    line-height: 1.2;
    width: 450px
    }
.calibre43 {
    height: 506px;
    line-height: 1.2;
    width: 450px
    }
.calibre44 {
    height: 452px;
    line-height: 1.2;
    width: 450px
    }
.calibre45 {
    height: 556px;
    line-height: 1.2;
    width: 450px
    }
.calibre46 {
    height: 605px;
    line-height: 1.2;
    width: 450px
    }
.calibre47 {
    height: 555px;
    line-height: 1.2;
    width: 450px
    }
.calibre48 {
    height: 569px;
    line-height: 1.2;
    width: 450px
    }
.calibre49 {
    height: 541px;
    line-height: 1.2;
    width: 450px
    }
.calibre50 {
    height: 637px;
    line-height: 1.2;
    width: 450px
    }
.calibre51 {
    height: 591px;
    line-height: 1.2;
    width: 450px
    }
.calibre52 {
    height: 596px;
    line-height: 1.2;
    width: 450px
    }
.calibre53 {
    height: 588px;
    line-height: 1.2;
    width: 450px
    }
.calibre54 {
    height: 593px;
    line-height: 1.2;
    width: 450px
    }
.calibre55 {
    height: 585px;
    line-height: 1.2;
    width: 450px
    }
.calibre56 {
    height: 546px;
    line-height: 1.2;
    width: 450px
    }
.calibre57 {
    height: 659px;
    line-height: 1.2;
    width: 450px
    }
.calibre58 {
    height: 625px;
    line-height: 1.2;
    width: 450px
    }
.calibre59 {
    height: 237px;
    line-height: 1.2;
    width: 450px
    }
.calibre60 {
    height: 92px;
    line-height: 1.2;
    width: 400px
    }
.calibre61 {
    height: 513px;
    line-height: 1.2;
    width: 450px
    }
.calibre62 {
    height: 688px;
    line-height: 1.2;
    width: 450px
    }
.calibre63 {
    height: 609px;
    line-height: 1.2;
    width: 450px
    }
.calibre64 {
    height: 135px;
    line-height: 1.2;
    width: 450px
    }
.calibre65 {
    height: 671px;
    line-height: 1.2;
    width: 450px
    }
.calibre66 {
    height: 517px;
    line-height: 1.2;
    width: 450px
    }
.calibre67 {
    height: 511px;
    line-height: 1.2;
    width: 450px
    }
.calibre68 {
    height: 30px;
    line-height: 1.2;
    width: 60px
    }
.calibre69 {
    height: 182px;
    line-height: 1.2;
    width: 450px
    }
.calibre70 {
    height: 667px;
    line-height: 1.2;
    width: 450px
    }
.calibre71 {
    height: 222px;
    line-height: 1.2;
    width: 450px
    }
.calibre72 {
    height: 665px;
    line-height: 1.2;
    width: 450px
    }
.calibre73 {
    height: 336px;
    line-height: 1.2;
    width: 450px
    }
.calibre74 {
    height: 55px;
    line-height: 1.2;
    width: 450px
    }
.calibre75 {
    height: 669px;
    line-height: 1.2;
    width: 450px
    }
.calibre76 {
    height: 337px;
    line-height: 1.2;
    width: 450px
    }
.calibre77 {
    height: 618px;
    line-height: 1.2;
    width: 450px
    }
.calibre78 {
    height: 443px;
    line-height: 1.2;
    width: 450px
    }
.calibre79 {
    height: 615px;
    line-height: 1.2;
    width: 450px
    }
.calibre80 {
    height: 598px;
    line-height: 1.2;
    width: 450px
    }
.calibre81 {
    height: 416px;
    line-height: 1.2;
    width: 450px
    }
.calibre82 {
    height: 574px;
    line-height: 1.2;
    width: 450px
    }
.calibre83 {
    height: 172px;
    line-height: 1.2;
    width: 450px
    }
.calibre84 {
    height: 613px;
    line-height: 1.2;
    width: 450px
    }
.calibre85 {
    height: 415px;
    line-height: 1.2;
    width: 450px
    }
.calibre86 {
    height: 579px;
    line-height: 1.2;
    width: 450px
    }
.calibre87 {
    height: 122px;
    line-height: 1.2;
    width: 450px
    }
.calibre88 {
    height: 320px;
    line-height: 1.2;
    width: 450px
    }
.calibre89 {
    height: 598px;
    line-height: 1.2;
    width: 380px
    }
.calibre90 {
    height: 475px;
    line-height: 1.2;
    width: 450px
    }
.calibre91 {
    height: 664px;
    line-height: 1.2;
    width: 450px
    }
.calibre92 {
    height: 612px;
    line-height: 1.2;
    width: 450px
    }
.calibre93 {
    height: 553px;
    line-height: 1.2;
    width: 450px
    }
.calibre94 {
    height: 63px;
    line-height: 1.2;
    width: 450px
    }
.calibre95 {
    height: 488px;
    line-height: 1.2;
    width: 450px
    }
.calibre96 {
    height: 430px;
    line-height: 1.2;
    width: 450px
    }
.calibre97 {
    height: 558px;
    line-height: 1.2;
    width: 450px
    }
.calibre98 {
    height: 487px;
    line-height: 1.2;
    width: 450px
    }
.calibre99 {
    height: 540px;
    line-height: 1.2;
    width: 450px
    }
.calibre100 {
    height: 604px;
    line-height: 1.2;
    width: 450px
    }
.calibre101 {
    height: 547px;
    line-height: 1.2;
    width: 450px
    }
.calibre102 {
    height: 611px;
    line-height: 1.2;
    width: 450px
    }
.calibre103 {
    height: 657px;
    line-height: 1.2;
    width: 450px
    }
.calibre104 {
    height: 551px;
    line-height: 1.2;
    width: 450px
    }
.calibre105 {
    height: 69px;
    line-height: 1.2;
    width: 450px
    }
.calibre106 {
    height: 554px;
    line-height: 1.2;
    width: 450px
    }
.calibre107 {
    height: 550px;
    line-height: 1.2;
    width: 450px
    }
.calibre108 {
    height: 174px;
    line-height: 1.2;
    width: 450px
    }
.calibre109 {
    height: 652px;
    line-height: 1.2;
    width: 450px
    }
.calibre110 {
    height: 502px;
    line-height: 1.2;
    width: 450px
    }
.calibre111 {
    height: 680px;
    line-height: 1.2;
    width: 450px
    }
.calibre112 {
    height: 51px;
    line-height: 1.2;
    width: 450px
    }
.calibre113 {
    height: 552px;
    line-height: 1.2;
    width: 450px
    }
.calibre114 {
    height: 495px;
    line-height: 1.2;
    width: 450px
    }
.calibre115 {
    height: 549px;
    line-height: 1.2;
    width: 450px
    }
.calibre116 {
    height: 447px;
    line-height: 1.2;
    width: 450px
    }
.calibre117 {
    height: 441px;
    line-height: 1.2;
    width: 450px
    }
.calibre118 {
    height: 440px;
    line-height: 1.2;
    width: 450px
    }
.calibre119 {
    height: 498px;
    line-height: 1.2;
    width: 450px
    }
.calibre120 {
    font-weight: bold
    }
.calibre121 {
    height: 30px;
    width: 27px
    }
.calibre122 {
    color: gray;
    display: block;
    height: 2px;
    border: currentColor inset 1px;
    margin: 0.5em auto
    }
.calibre123 {
    height: 622px;
    line-height: 1.2;
    width: 450px
    }
.calibre124 {
    height: 606px;
    line-height: 1.2;
    width: 450px
    }
.calibre125 {
    height: 308px;
    line-height: 1.2;
    width: 450px
    }
.calibre126 {
    height: 353px;
    line-height: 1.2;
    width: 450px
    }
.calibre127 {
    height: 305px;
    line-height: 1.2;
    width: 450px
    }
.calibre128 {
    height: 232px;
    line-height: 1.2;
    width: 450px
    }
.calibre129 {
    height: 503px;
    line-height: 1.2;
    width: 450px
    }
.calibre130 {
    height: 676px;
    line-height: 1.2;
    width: 450px
    }
.calibre131 {
    height: 282px;
    line-height: 1.2;
    width: 450px
    }
.calibre132 {
    height: 678px;
    line-height: 1.2;
    width: 450px
    }
.calibre133 {
    height: 167px;
    line-height: 1.2;
    width: 450px
    }
.calibre134 {
    height: 686px;
    line-height: 1.2;
    width: 450px
    }
.calibre135 {
    height: 286px;
    line-height: 1.2;
    width: 450px
    }
.calibre136 {
    color: #000;
    display: block;
    font-family: "Calibri", "sans-serif";
    font-size: 1em;
    font-weight: bold;
    text-indent: 0;
    border: currentColor none 2pt;
    margin: 6pt
    }
.calibre137 {
    height: 224px;
    line-height: 1.2;
    width: 450px
    }
.calibre138 {
    height: 677px;
    line-height: 1.2;
    width: 450px
    }
.calibre139 {
    height: 112px;
    line-height: 1.2;
    width: 450px
    }
.calibre140 {
    height: 108px;
    line-height: 1.2;
    width: 450px
    }
.calibre141 {
    height: 113px;
    line-height: 1.2;
    width: 450px
    }
.calibre142 {
    height: 670px;
    line-height: 1.2;
    width: 450px
    }
.calibre143 {
    height: 163px;
    line-height: 1.2;
    width: 450px
    }
.calibre144 {
    height: 683px;
    line-height: 1.2;
    width: 450px
    }
.calibre145 {
    height: 227px;
    line-height: 1.2;
    width: 450px
    }
.calibre146 {
    height: 645px;
    line-height: 1.2;
    width: 450px
    }
.calibre147 {
    height: 276px;
    line-height: 1.2;
    width: 450px
    }
.calibre148 {
    height: 168px;
    line-height: 1.2;
    width: 450px
    }
.calibre149 {
    font-weight: bold;
    line-height: 1.2
    }
.calibre150 {
    height: 287px;
    line-height: 1.2;
    width: 450px
    }
.calibre151 {
    display: block
    }
.calibre152 {
    colour: red;
    line-height: 1.2
    }
.Com {
    color: #146B27;
    display: block;
    font-family: "Calibri", "sans-serif";
    font-size: 1.33333em;
    font-style: italic;
    font-weight: bold;
    text-indent: 0;
    border: currentColor none 2pt;
    margin: 0.5cm 6pt 6pt 1cm
    }
.GIRM {
    color: #000;
    display: block;
    font-family: "Calibri", "sans-serif";
    font-size: 1.33333em;
    font-weight: normal;
    text-indent: 0;
    border: currentColor none 2pt;
    margin: 6pt
    }
.h {
    color: #933;
    display: block;
    font-family: "Calibri", "sans-serif";
    font-size: 1.33333em;
    font-weight: normal;
    text-indent: 0;
    border: currentColor none 2pt;
    margin: 6pt 6pt 6pt 1cm
    }
.h1 {
    color: #C30;
    display: block;
    font-family: "Calibri", "sans-serif";
    font-size: 1.33333em;
    font-weight: bold;
    text-align: center;
    text-indent: 0;
    border: currentColor none 2pt;
    margin: 0.5cm 6pt
    }
.h2 {
    color: #C30;
    display: block;
    font-family: "Calibri", "sans-serif";
    font-size: 1.33333em;
    font-weight: bold;
    text-indent: 0;
    border: currentColor none 2pt;
    margin: 6pt
    }
.h3 {
    color: #36F;
    display: block;
    font-family: "Calibri", "sans-serif";
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    text-indent: 0;
    border: currentColor none 2pt;
    margin: 0 6pt 0.5cm
    }
.Quietly {
    color: #9A5017;
    display: block;
    font-family: "Calibri", "sans-serif";
    font-size: 1.33333em;
    font-weight: normal;
    text-indent: 0;
    border: currentColor none 2pt;
    margin: 6pt 6pt 6pt 1cm
    }
.red {
    color: red;
    line-height: 1.2
    }
.red1 {
    color: red
    }
.Response {
    color: #146B27;
    display: block;
    font-family: "Calibri", "sans-serif";
    font-size: 1.33333em;
    font-style: italic;
    font-weight: bold;
    text-indent: 0;
    border: currentColor none 2pt;
    margin: 6pt 6pt 6pt 1cm
    }
.Rubric {
    color: red;
    display: block;
    font-family: "serif";
    font-size: 1em;
    font-style: italic;
    font-weight: normal;
    text-indent: 0;
    border: currentColor none 0;
    margin: 0 0 0 0.5cm
    }
