@page {
    margin-bottom: 5pt;
    margin-top: 5pt
    }
@font-face {
    font-family: "Bookerly";
    panose-1: 2 2 6 2 4 3 5 2 2 4;
    src: url(fonts/Bookerly.ttf)
    }
@font-face {
    font-family: "Bookerly";
    panose-1: 2 2 6 2 4 3 5 9 2 4;
    font-style: italic;
    src: url(fonts/Bookerly-Italic.ttf)
    }
@font-face {
    font-family: "Bookerly";
    panose-1: 2 2 8 2 4 3 5 2 2 4;
    font-weight: bold;
    src: url(fonts/Bookerly-Bold.ttf)
    }
@font-face {
    font-family: "Bookerly";
    panose-1: 2 2 7 2 4 3 5 2 2 4;
    font-style: italic;
    font-weight: bold;
    src: url(fonts/Bookerly-Bold-Italic.ttf)
    }
